<div id="<%= dom_id insured %>">
  <p>
    <strong>Cooperative:</strong>
    <%= insured.cooperative_id %>
  </p>

  <p>
    <strong>Cooperative branch:</strong>
    <%= insured.cooperative_branch_id %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= insured.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= insured.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= insured.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= insured.suffix %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= insured.birthdate %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= insured.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= insured.age %>
  </p>

  <p>
    <strong>Civil status:</strong>
    <%= insured.civil_status %>
  </p>

  <p>
    <strong>Place of birth:</strong>
    <%= insured.place_of_birth %>
  </p>

  <p>
    <strong>Id type:</strong>
    <%= insured.id_type %>
  </p>

  <p>
    <strong>Id no:</strong>
    <%= insured.id_no %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= insured.nationality %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= insured.address %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= insured.premium %>
  </p>

</div>
