<div id="<%= dom_id dependent %>">
  <p>
    <strong>Insured:</strong>
    <%= dependent.insured_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dependent.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= dependent.date_of_birth %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= dependent.relationship %>
  </p>

</div>
