<div id="<%= dom_id beneficiary %>">
  <p>
    <strong>Insured:</strong>
    <%= beneficiary.insured_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= beneficiary.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= beneficiary.date_of_birth %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= beneficiary.relationship %>
  </p>

</div>
