<div id="<%= dom_id occupation %>">
  <p>
    <strong>Insured:</strong>
    <%= occupation.insured_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= occupation.name %>
  </p>

  <p>
    <strong>Employer name:</strong>
    <%= occupation.employer_name %>
  </p>

  <p>
    <strong>Employer address:</strong>
    <%= occupation.employer_address %>
  </p>

  <p>
    <strong>Business type:</strong>
    <%= occupation.business_type %>
  </p>

</div>
