<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @cooperative_branch %>

  <div>
    <%= link_to "Edit this cooperative branch", edit_cooperative_branch_path(@cooperative_branch) %> |
    <%= link_to "Back to cooperative branches", cooperative_branches_path %>

    <%= button_to "Destroy this cooperative branch", @cooperative_branch, method: :delete %>
  </div>
</div>