<div id="<%= dom_id cooperative %>">
  <p>
    <strong>Name:</strong>
    <%= cooperative.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= cooperative.address %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= cooperative.abbreviation %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= cooperative.region %>
  </p>

</div>
