<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @cooperative %>

  <div>
    <%= link_to "Edit this cooperative", edit_cooperative_path(@cooperative) %> |
    <%= link_to "Back to cooperatives", cooperatives_path %>

    <%= button_to "Destroy this cooperative", @cooperative, method: :delete %>
  </div>
</div>